<footer>
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="1440" height="127" viewBox="0 0 1440 127" fill="none">
        <path d="M0 127H1440V24.9102C1257.5 7.95 981.576 -0.999994 719.5 -0.999994C457.835 -0.999994 210.28 4.9 0 24.7883V127Z" fill="#09212A"/>
    </svg>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="135" height="32" viewBox="0 0 135 32" fill="none">
            <text x="10" y="20" font-family="Arial" font-size="20" fill="orange">KK</text>
            <text x="40" y="20" font-family="Arial" font-size="13" fill="white">Karol Kowalczyk</text>
          </svg>
            <p>&copy; 2024 Karol Kowalczyk</p>
    </div>
</footer>